<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SMS | Admin | BroTeam </title>
     <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'SMS/images/favilogo.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'SMS/plugins/highlightjs/styles/darkula.css' %}">
    <link href="{% static 'SMS/css/style.css' %}" rel="stylesheet">
    {% block custom_css %}{% endblock custom_css %}

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="#">
                    <b class="logo-abbr"><img src="{% static 'images/logo1.png'% }" alt=""> </b>
                    <span class="logo-compact"><img src="{% static 'SMS/images/logo_text1.png'%}" alt=""></span>
                    <span class="brand-title">
                        <img src="{% static 'SMS/images/logo_text1.png'%}" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control input-rounded" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down d-md-none">
							<form action="#">
								<input type="text" class="form-control input-rounded" placeholder="Search">
							</form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                              <blockquote> Trang Chủ </blockquote>
                        </li>
                        <li class="icons dropdown d-none d-md-flex">
                                <div class="info">
                                    <a href="#" class="btn mb-1 btn-outline-primary">
                                        {{ user.username }}</a>
                                </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="{% static 'SMS/images/user/favalogo.png' %}" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="page-lock.html"><i class="icon-lock"></i> <span>Khoá Màn Hình</span></a>
                                        </li>
                                        <li><a href="/logout_user"><i class="icon-key"></i> <span>Đăng Xuất</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->


        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body">
            <div class="container-fluid mt-3 ">
                <div class="form-group">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger m-b-10 m-l-5" style="margin-top:10px" id="toastr-danger-top-left">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success m-b-10 m-l-5" style="margin-top:10px" id="toastr-success-top-left">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-4">
                        <a href="{% url 'select_session' %}">
                        <div class="card gradient-9">
                            <div class="card-body">
                                <div class="d-inline-block">
                                    <h2 class="text-white">Chọn</h2>
                                    <h4 class="text-white mb-0">Niên Khoá </h4>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                        <div class="card gradient-8">
                            <div class="card-body">
                                <div class="d-inline-block">
                                    <h2 class="text-white">Thêm</h2>
                                    <h4 class="text-white mb-0">Niên Khoá </h4>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="{% url 'add_teacher' %}">
                        <div class="card gradient-6">
                            <div class="card-body">
                                <div class="d-inline-block">
                                    <h2 class="text-white">Thêm</h2>
                                    <h4 class="text-white mb-0">Giáo Viên </h4>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Hướng dẫn</h4>
                                <p class="text-muted"><code></code>
                                </p>
                                <div id="accordion-three" class="accordion">
                                    <div class="card gradient-7">
                                        <div class="card-header">
                                            <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4"><i class="fa" aria-hidden="true"></i> Thêm Niên Khoá</h5>
                                        </div>
                                        <div id="collapseOne4" class="collapse show" data-parent="#accordion-three">
                                            <div class="card-body">Chọn <b>Thêm Niên Khoá</b> để tạo năm học mới và cài đặt thời gian bắt đầu và kết thúc của niên khoá đó. </div>
                                        </div>
                                    </div>
                                    <div class="card gradient-7">
                                        <div class="card-header">
                                            <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5"><i class="fa" aria-hidden="true"></i> Chọn Niên Khoá</h5>
                                        </div>
                                        <div id="collapseTwo5" class="collapse" data-parent="#accordion-three">
                                            <div class="card-body">Nhấn <b>Chọn Niên Khoá </b> để chọn năm học mà bạn muốn truy cập và quản lí! <br> <b>Lưu Ý:</b> Năm học chỉ tồn tại sau khi bạn đã tạo</div>
                                        </div>
                                    </div>
                                    <div class="card gradient-7">
                                        <div class="card-header">
                                            <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6"><i class="fa" aria-hidden="true"></i>Thêm Giáo Viên</h5>
                                        </div>
                                        <div id="collapseThree6" class="collapse" data-parent="#accordion-three">
                                            <div class="card-body">Chọn <b>Thêm Giáo Viên</b> nếu bạn muốn tạo tài khoản SMS cho giáo viên của mình. <br> <b>Lưu Ý:</b> Các thông tin của giáo viên khi tạo tài khoản phải chính xác và đầy đủ!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

            <!-- #/ container -->

        <!--**********************************
            Content body end
        ***********************************-->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Tạo Niên Khoá Mới</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <form role="form" action="/add_session_save" method="post">
                     {% csrf_token %}
                     <div class="card-body">
                         <div class="form-group row">
                             <label class="col-lg-4 col-form-label">Bắt Đầu </label>
                             <div class="col-lg-6">
                                 <input type="date" class="form-control" name="session_start" placeholder="Nhập thời gian bắt đầu">
                             </div>
                         </div>
                         <div class="form-group row">
                             <label class="col-lg-4 col-form-label">Kết Thúc </label>
                             <div class="col-lg-6">
                                 <input type="date" class="form-control" name="session_end" placeholder="Nhập Thời Gian Kết Thúc">
                             </div>
                         </div>
                     </div>
                     <!-- /.card-body -->
                     <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <button type="submit" class="btn btn-primary">Thêm</button>
                     </div>
                 </form>
             </div>
         </div>
     </div>

 </div>

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p> Designed & Developed by <a href="/broteam">BroTeam</a> 2021</p>
            </div>
        </div>

    <script src="{% static 'js/gleek.js' %}"></script>

    <script src="{% static 'SMS/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'SMS/js/custom.min.js' %}"></script>
    <script src="{% static 'SMS/js/settings.js' %}"></script>
    <script src="{% static 'SMS/js/styleSwitcher.js' %}"></script>

    <script src="{% static 'SMS/plugins/highlightjs/highlight.pack.min.js' %}"></script>

    <script>hljs.initHighlightingOnLoad();</script>

    <script>
        (function($) {
        "use strict"

            new quixSettings({
                version: "light", //2 options "light" and "dark"
                layout: "horizontal", //2 options, "vertical" and "horizontal"
                navheaderBg: "color_1", //have 10 options, "color_1" to "color_10"
                headerBg: "color_1", //have 10 options, "color_1" to "color_10"
                sidebarStyle: "vertical", //defines how sidebar should look like, options are: "full", "compact", "mini" and "overlay". If layout is "horizontal", sidebarStyle won't take "overlay" argument anymore, this will turn into "full" automatically!
                sidebarBg: "color_1", //have 10 options, "color_1" to "color_10"
                sidebarPosition: "static", //have two options, "static" and "fixed"
                headerPosition: "static", //have two options, "static" and "fixed"
                containerLayout: "wide",  //"boxed" and  "wide". If layout "vertical" and containerLayout "boxed", sidebarStyle will automatically turn into "overlay".
                direction: "ltr" //"ltr" = Left to Right; "rtl" = Right to Left
            });


        })(jQuery);

    </script>
{% block custom_js %}
{% endblock custom_js %}
</body>

</html>