{% extends 'Students/base_student.html' %}
{% block page_title %}
Chỉnh Sửa Hồ Sơ
{% endblock page_title %}
{% load static%}
{% block custom_css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock custom_css %}
{% block main_content %}
    <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/student_home">Home</a></li>
                        <li class="breadcrumb-item active"><a href="">Hồ Sơ</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center mb-4">
                                    <img class="mr-3"  style="border-radius: 50%;"  src="{% static 'SMS/images/user/favalogo.png' %}" width="80" height="80" alt="">
                                    <div class="media-body">
                                        <h3 class="mb-0">{{ user.first_name}} {{user.last_name}}</h3>
                                        <p class="text-muted mb-0">@student</p>
                                    </div>
                                </div>

                                <div class="row mb-5">
                                    <div class="col">
                                        <div class="card card-profile text-center">
                                            <span class="mb-1 text-primary"><i class="fas fa-book-reader"></i></span>
                                            <h3 class="mb-0">{{ total_attendance }}</h3>
                                            <p class="text-muted ">Điểm Danh</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-profile text-center">
                                            <span class="mb-1 text-warning"><i class="fas fa-book"></i></span>
                                            <h3 class="mb-0">{{total}}</h3>
                                            <p class="text-muted ">Điểm TB</p>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <a href="/student_home"><button class="btn btn-danger px-5">Thêm Thông Tin</button></a>
                                    </div>
                                </div>

                                <h4>About Me</h4>
                                <p class="text-muted"></p>
                                <ul class="card-profile__info">
                                    <li class="mb-1"><strong class="text-dark mr-4">Lớp:</strong> <span>{{course.class_name}}</span></li>
                                    <li><strong class="text-dark mr-4">Email:</strong> <span>{{user.email}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="default-tab">
                                    <ul class="nav nav-tabs mb-3" role="tablist">
                                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Home</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel">
                                            <div class="p-t-15">
                                            <h3 class="card-title">Chỉnh Sửa Hồ Sơ</h3>
                                                <div class="form-group">
                                                    {% if messages %}
                                                    {% for message in messages %}
                                                    {% if message.tags == 'error' %}
                                                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                                    {% endif %}
                                                    {% if message.tags == 'success' %}
                                                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <form role="form" action="{% url 'student_profile_save' %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label>Username</label>
                                                            <input type="text" class="form-control" name="username" value="{{ user.username }}" disabled="disabled">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input type="email" class="form-control" name="email" value="{{ user.email }}" disabled="disabled">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Họ</label>
                                                            <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Tên</label>
                                                            <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Địa chỉ</label>
                                                            <input type="text" class="form-control" name="address" value="{{ student.address }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Đổi mật khẩu?</label>
                                                            <input type="text" class="form-control" name="password" placeholder="Chỉ Điền Khi Bạn Muốn Thay Đổi Mật Khẩu">
                                                        </div>
                                                    </div>
                                                        <!-- /.card-body -->

                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary btn-block">Lưu Hồ Sơ</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="profile">
                                            <div class="p-t-15">
                                                <h4>Bảng Điểm Chính Thức</h4>
                                                <div class="form-row align-items-center">
                                                <div class="col-auto my-1">
                                                    <label class="mr-sm-2" for="term">Học Kỳ</label>
                                                    <select class="custom-select mr-sm-2" name="term" id="term">
                                                        <option value="1">Học Kỳ 1</option>
                                                        <option value="2">Học Kỳ 2</option>
                                                    </select>
                                                </div>
                                                <div class="col-auto my-1">
                                                    <br>
                                                    <button type="submit" class="btn btn-primary" id="fetch_term" >Submit</button>
                                                </div>
                                            </div>
                                                <div class="table1" style="display: none;">
                                                <blockquote class="text-center">Học Kì I</blockquote>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered verticle-middle">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Môn Học</th>
                                                                <th>Hệ số 1</th>
                                                                <th>Hệ số 1</th>
                                                                <th>Hệ số 1</th>
                                                                <th>Hệ số 1</th>
                                                                <th>Hệ số 2</th>
                                                                <th>Cuối Kì 1</th>
                                                                <th>TB-HK1</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for sub in subs_HK1 %}
                                                        {%if sub.publish == False %}
                                                        <tr>
                                                                <th>{{sub.name}}<br><small><b class="text-danger">chưa được công bố</b></small></th>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        {% else %}
                                                            <tr>
                                                                <th>{{sub.name}}</th>
                                                                <td>{{sub.m1}}</td>
                                                                <td>{{sub.m2}}</td>
                                                                <td>{{sub.m3}}</td>
                                                                <td>{{sub.m4}}</td>
                                                                <td>{{sub.t1}}</td>
                                                                <td>{{sub.final}}</td>
                                                                <td>{{sub.avg}}</td>
                                                            </tr>
                                                        {%endif%}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                                <div class="table2" style="display: none;">
                                                <blockquote class="text-center">Học Kì II</blockquote>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered verticle-middle">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Môn Học</th>
                                                                <th>Hệ số 1</th>
                                                                <th>Hệ số 1</th>
                                                                <th>Hệ số 1</th>
                                                                <th>Hệ số 1</th>
                                                                <th>Hệ số 2</th>
                                                                <th>Cuối Kì 2</th>
                                                                <th>TB-HK2</th>
                                                                <th>TB-Năm</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for sub in subs_HK2 %}
                                                        {%if sub.publish == False %}
                                                        <tr>
                                                                <th>{{sub.name}}<br><small><b class="text-danger">chưa được công bố</b></small></th>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        {% else %}
                                                            <tr>
                                                                <th>{{sub.name}}</th>
                                                                <td>{{sub.m1}}</td>
                                                                <td>{{sub.m2}}</td>
                                                                <td>{{sub.m3}}</td>
                                                                <td>{{sub.m4}}</td>
                                                                <td>{{sub.t1}}</td>
                                                                <td>{{sub.final}}</td>
                                                                <td>{{sub.avg}}</td>
                                                                <td>{{sub.avg_y}}</td>
                                                            </tr>
                                                        {%endif%}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
{% endblock main_content %}

{% block custom_js %}

<script>
    $(document).ready(function(){
    $("p").show();
        $("#fetch_term").click(function(){
            var term=$("#term").val()
            var classe=$("#classe").val()
            $("#term_get").text(term);
            $("#classe_get").text(classe);
            if(term == 1){
             $('.table1').show();
              $('.table2').hide();
            }
            else {
            $('.table2').show();
            $('.table1').hide();
            }

        });
    });

</script>

{% endblock custom_js %}

