{% extends 'Teachers/base_teacher.html' %}
{% block page_title %}
Bài Kiểm Tra
{% endblock page_title %}
{% load static %}

{% block main_content %}
    <div class="content-body">
<div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/teacher_home/{{id}}">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">Bài Kiểm Tra</a></li>
                    </ol>
                </div>
            </div>

            <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                {% endif %}
                                {% if message.tags == 'success' %}
                                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                                <h4 class="card-title">Bài Kiểm Tra</h4>
                                <ul class="nav nav-pills mb-3">
                                    <li class="nav-item"><a href="#navpills-1" class="nav-link active" data-toggle="tab" aria-expanded="false">Danh Sách</a>
                                    </li>
                                    <li class="nav-item"><a href="#navpills-2" class="nav-link" data-toggle="tab" aria-expanded="false">Tạo mới</a>
                                    </li>
                                </ul>
                                <div class="tab-content br-n pn">
                                    <div id="navpills-1" class="tab-pane active">
                                        <div class="row align-items-center">
                                             <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration header-border table-hover verticle-middle">
                                        <thead>
                                        <tr>
                                          <th>ID</th>
                                          <th>Bài Kiểm Tra</th>
                                          <th>Lớp</th>
                                          <th>Ngày Kiểm</th>
                                          <th>Bắt Đầu</th>
                                          <th>Kết Thúc</th>
                                            <th>Trạng Thái</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for exam in exams %}

                                        <tr>
                                            <td>{{exam.id}}</td>
                                            <td><a href="/{{id}}/show_info/{{exam.id}}">{{exam.name}}</a></td>
                                            <td>{{exam.class_id.class_name}}</td>
                                            <td>{{exam.date}}</td>
                                            <td>{{exam.start}}</td>
                                            <td>{{exam.end}}</td>
                                            {% if exam.is_active == False %}
                                            <td><span class="label label-pill label-danger">Hết Giờ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
  <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
</svg></span></td>
                                            {%else%}
                                            <td><span class="label label-pill label-info">Đang Hoạt Động <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
</svg></span></td>
                                            {%endif%}
                                        </tr>
                                      {% endfor %}
                                      </tbody>
                                        <tfoot>
                                            <tr>
                                          <th>ID</th>
                                          <th>Bài Kiểm Tra</th>
                                          <th>Lớp</th>
                                          <th>Ngày Kiểm</th>
                                          <th>Bắt Đầu</th>
                                          <th>Kết Thúc</th>
                                                <th>Trạng Thái</th>
                                          </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                        </div>
                                    </div>
                                    <div id="navpills-2" class="tab-pane">
                                        <div class="row align-items-center">
                                            <div class="col-lg-12">
                                                <form role="form" action="/{{id}}/create_exam" method="post"  enctype="multipart/form-data">
                                          {% csrf_token %}
                                        <div class="card-body">
                                            <div class="form-row">
                                                <div class="form-group col-md-8">
                                                    <label>Tiêu Đề</label>
                                                    <input type="text" class="form-control input-rounded" name="title" >
                                                </div>
                                                <div class="form-group col-md-4">
                                                  <label>Chọn Lớp Học </label>
                                                    <select class="form-control input-rounded" name="classe" id="classe">
                                                        {% for class in classes %}
                                                          <option value="{{ class.id }}">{{ class.class_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label >Ngày Kiểm:</label>
                                                       <div class="input-group">
                                                            <input type="date" class="form-control" name="date"> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                                                       </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                  <label>Bắt đầu:</label>
                                                    <div class="input-group clockpicker">
                                                        <input type="time" class="form-control" value="09:30" name="start"> <span class="input-group-append"><span class="input-group-text"><i class="fa fa-clock-o"></i></span></span>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                  <label>Kết Thúc</label>
                                                    <div class="input-group clockpicker">
                                                        <input type="time" class="form-control" value="09:30" name="end"> <span class="input-group-append"><span class="input-group-text"><i class="fa fa-clock-o"></i></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="form1">Hình Thức</label>
                                                     <select class="form-control input-rounded" name="form1" id="form1">
                                                      <option value="TN">Trắc Nghiệm</option>
                                                      <option value="TL">Tự Luận</option>
                                                     </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                  <label>Hệ Số</label>
                                                   <select class="form-control input-rounded" name="mul" >
                                                      <option value="1">Hệ Số 1</option>
                                                      <option value="2">Hệ Số 2</option>
                                                     </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                  <label >Số lượng câu hỏi</label>
                                                    <input type="number" class="form-control input-rounded" name="num_q" id="num_q">
                                                    <small class="form-text text-muted"><b style="color:red;">Lưu Ý: </b>Số lượng câu hỏi phải trùng khớp với số câu hỏi của đề</small>
                                                </div>
                                                 <div class="form-group col-md-3">
                                                    <label >Tải file đề</label>
                                                     {{form}}
                                                 </div>
                                            </div>

                                                <div class="row justify-content-center">
                                                     <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary btn-block">Tiếp Tục</button>
                                                    </div>
                                                </div>
                                        </div>
                                      </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
    </div>

{% endblock main_content %}
{% block custom_js %}
    <script src="{% static 'SMS/plugins/tables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'SMS/plugins/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'SMS/plugins/tables/js/datatable-init/datatable-basic.min.js' %}"></script>


{% endblock custom_js %}
