{% extends 'Teachers/base_teacher.html' %}
{% block page_title %}
Xem Điểm Danh
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="/{{id}}/student_home">Home</a></li>
                    <li class="breadcrumb-item active"><a href="">Xem Điểm Danh</a></li>
                </ol>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"> <br>Xem Điểm Danh</h3>
                        </div>
                        <div class="container-fluid">
                            <div class="form-group">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                {% endif %}
                                {% if message.tags == 'success' %}
                                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-8">
                                       Học Sinh Điểm Danh
                                        <div id="student_data" class="card-footer"><div class="alert alert-info" >Chưa tìm thấy dữ liệu nào! Hãy chọn lớp và ngày cần điểm danh</div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label>Lớp Học </label>
                                                    <select class="form-control" name="classe" id="classe">
                                                        {% for class in class_list %}
                                                          <option value="{{ class.id }}">{{ class.class_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary btn-block" id="fetch_attendance">Tìm Dữ Liệu</button>
                                                </div>
                                                <div class="form-group" id="attendance_block" style="display:none">
                                                    <label>Ngày Điểm Danh </label>
                                                    <select class="form-control" name="attendance_date" id="attendance_date">
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                <div class="alert alert-danger" id="error_attendance" style="display:none">
                                                </div>
                                            </div>
                                            <div class="form-group" id="fetch_student_block" style="display:none">
                                                 <button type="button" class="btn btn-primary btn-block" id="fetch_student">Tìm Dữ Liệu Học Sinh</button>
                                             </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function(){
        $("#fetch_attendance").click(function(){
               var classe=$("#classe").val();

            $.ajax({
                    url:'{% url 'get_attendance_dates' %}',
                    type:'POST',
                    data:{classe:classe},
                })
                .done(function(response){
                    var json_data=JSON.parse(response);
                    if(json_data.length>0)
                    {
                        var html_data="";
                        for(key in json_data)
                        {
                            html_data+="<option value="+json_data[key]["id"]+">"+json_data[key]["attendance_date"]+"</option>";
                        }
                        $("#error_attendance").html("");
                        $("#error_attendance").hide();
                        $("#attendance_block").show();
                        $("#fetch_student_block").show();
                        $("#attendance_date").html(html_data);
                     }
                     else
                     {
                        $("#error_attendance").html("Không Tìm Thấy Dữ Liệu");
                        $("#error_attendance").show();
                        $("#attendance_block").hide();
                        $("#fetch_student_block").hide();
                        $("#attendance_date").html("");
                     }
                })
                .fail(function(){
                    alert("Lỗi! Không Tìm Được Dữ Liệu")
                    $("#error_attendance").html("");
                    $("#attendance_block").hide();
                    $("#fetch_student_block").hide();

                });


        })


        $("#fetch_student").click(function(){

            var attendance_date=$("#attendance_date").val()

            $.ajax({
                url:'{% url 'get_attendance_student' %}',
                type:'POST',
                data:{attendance_date:attendance_date},
            })
            .done(function(response){
                var json_data=JSON.parse(response);
                var div_data="<div class='form-group'><label>Dữ liệu Tìm Thấy: </label></div><div class='form-group'><div class='row'>";
                var stt=0
                for(key in json_data)
                {
                    stt=stt+1
                    div_data+="<div class='col-lg-4'><div class='form-check'><input type='checkbox' ";
                    if(json_data[key]['status'])
                    {
                        div_data+="checked='checked'";
                    }
                    else{
                        div_data+="";
                    }
                    div_data+="name='student_data[]' value='"+json_data[key]['id']+"'><label class='form-check-label'>"+stt+": "+json_data[key]['name']+"</label> ";


                     if(json_data[key]['status'])
                    {
                        div_data+="<b> [ Có Mặt ]</b>";
                    }
                    else{
                        div_data+="<b> [ Vắng ]</b>";
                    }

                    div_data+="</div></div>";
                    div_data+="<br>";
                }
                div_data+="</div></div>";
                div_data+="<div class='form-group'>";
                div_data+="<button id='save_attendance' class='btn btn-success btn-block' type='button'>Lưu Dữ Liệu</button>";
                div_data+="</div>";

                $("#student_data").html(div_data);

            })
            .fail(function(){
                alert("Error in Fetching Student")
            })

         })

         $(document).on("click","#save_attendance",function(){

                $(this).attr("disabled","disabled")
                $(this).text("Saving Attendance Data...")
                var student_data=$("input[name='student_data[]']").map(function(){
                        if($(this).is(":checked")){
                            return {"id":$(this).val(),"status":1};
                        }
                        else{
                            return {"id":$(this).val(),"status":0};
                        }
                 }).get()
                var attendance_date=$("#attendance_date").val();
                student_data=JSON.stringify(student_data)

                $.ajax({
                        url:'{% url 'save_updateattendance_data' %}',
                        type:'POST',
                        data:{student_ids:student_data,attendance_date:attendance_date},
                    })
                    .done(function(response){

                        if(response=="OK"){
                            alert("Đã Lưu")
                        }
                        else{
                            alert("Lỗi! Không lưu được dữ liệu")
                        }
                        location.reload()
                    })
                    .fail(function(){
                        alert("Lỗi! Không lưu được học sinh")
                    })

        })

    })
</script>
{% endblock custom_js %}
